In [1]:
import pandas as pd

In [2]:
imoveis = pd.read_csv('aluguel/aluguel.csv', sep=';')

In [3]:
imoveis.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [4]:
print(f'A base de dados apresenta {imoveis.shape[0]} registros e {imoveis.shape[1]} colunas')

A base de dados apresenta 32960 registros e 9 colunas

In [5]:
print('Tipos de dados')
imoveis.dtypes

Tipos de dados

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

### Criando um dataframe

In [6]:
tipos_de_imoveis = imoveis['Tipo'].drop_duplicates()

In [7]:
tipos_de_imoveis = pd.DataFrame(tipos_de_imoveis)

In [8]:
tipos_de_imoveis.index = ["imov" + str(i) for i in range(tipos_de_imoveis.shape[0])]

In [9]:
tipos_de_imoveis.index.name = "Id"
tipos_de_imoveis

                               Tipo
Id
imov0                     Quitinete
imov1                          Casa
imov2       Conjunto Comercial/Sala
imov3                   Apartamento
imov4            Casa de Condomínio
imov5                Prédio Inteiro
imov6                          Flat
imov7                    Loja/Salão
imov8       Galpão/Depósito/Armazém
imov9                Casa Comercial
imov10                 Casa de Vila
imov11               Terreno Padrão
imov12                  Box/Garagem
imov13                         Loft
imov14  Loja Shopping/ Ct Comercial
imov15                      Chácara
imov16        Loteamento/Condomínio
imov17                        Sítio
imov18                Pousada/Chalé
imov19                       Studio
imov20                        Hotel
imov21                    Indústria

# Imóveis Residenciais

In [10]:
imoveis_residenciais = imoveis.query("Tipo == 'Quitinete' or Tipo == 'Casa' or Tipo == 'Apartamento' or Tipo == 'Casa de Vila' or Tipo == 'Casa de Condomínio'")

In [11]:
imoveis_residenciais.index = range(imoveis_residenciais.shape[0])

In [12]:
imoveis_residenciais.index.name = "Id"

In [13]:
imoveis_residenciais

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
Id,,,,,,,,,
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

### Exportando o resultado para arquivo csv

In [14]:
imoveis_residenciais.to_csv('aluguel/aluguel_residencial.csv', sep=';', index=False)

### Importando nova base de dados

In [15]:
residenciais = pd.read_csv('aluguel/aluguel_residencial.csv', sep=';')
residenciais

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

## Frequência por tipo de imóvel residencial

#### Apartamento

In [16]:
apartamentos = residenciais.query("Tipo == 'Apartamento'")
apartamentos

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22573,Apartamento,Vila Valqueire,2,0,0,52,1000.0,550.0,NaN
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [17]:
print(f'Total de imóveis residenciais do tipo Apartamento: {apartamentos.shape[0]}')

Total de imóveis residenciais do tipo Apartamento: 19532

#### Casa

In [18]:
casas = residenciais.query("Tipo == 'Casa' or Tipo == 'Casa de Vila' or Tipo == 'Casa de Condomínio'")
casas

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
14,Casa de Condomínio,Taquara,3,1,1,115,2000.0,NaN,NaN
18,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,NaN
...,...,...,...,...,...,...,...,...,...
22545,Casa de Condomínio,Freguesia (Jacarepaguá),3,3,1,155,2000.0,530.0,1250.0
22547,Casa,Bento Ribeiro,2,1,0,60,1400.0,NaN,NaN
22555,Casa de Condomínio,Barra da Tijuca,3,5,3,1000,20000.0,3000.0,NaN
22558,Casa,Centro,5,0,1,160,5000.0,NaN,80.0
22574,Casa de Condomínio,Barra da Tijuca,5,3,4,450,15000.0,1711.0,2332.0

In [19]:
print(f'Total de imóveis residenciais do tipo Casa: {casas.shape[0]}')

Total de imóveis residenciais do tipo Casa: 2212

#### Por área

In [20]:
de_60_a_100_metros = residenciais.query("Area >= 60 and Area <= 100")
de_60_a_100_metros

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
10,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
...,...,...,...,...,...,...,...,...,...
22568,Apartamento,Recreio dos Bandeirantes,3,2,1,88,1550.0,790.0,NaN
22570,Apartamento,Leblon,3,0,1,80,3000.0,1010.0,249.0
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [21]:
print(f'Total de imóveis residenciais com área entre 60 e 100 metros: {de_60_a_100_metros.shape[0]}')

Total de imóveis residenciais com área entre 60 e 100 metros: 8719

#### Imóveis com 4 quartos ou mais e aluguel abaixo de R$ 2000.00

In [22]:
selecao = residenciais.query("Quartos >= 4 and Valor < 2000.0")
selecao

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
484,Apartamento,Recreio dos Bandeirantes,4,2,2,160,1900.0,830.0,NaN
1003,Apartamento,Taquara,4,1,1,110,1900.0,NaN,NaN
1961,Casa,Campo Grande,4,1,4,100,1600.0,NaN,NaN
2102,Casa,Engenho de Dentro,4,3,0,120,1500.0,NaN,NaN
2200,Apartamento,Recreio dos Bandeirantes,4,2,2,125,1700.0,NaN,90.0
2338,Casa de Vila,Méier,4,0,1,85,1600.0,NaN,NaN
3943,Casa,Campo Grande,4,1,0,140,1700.0,NaN,NaN
3944,Apartamento,Campo Grande,4,2,1,115,1900.0,500.0,NaN
4349,Apartamento,Recreio dos Bandeirantes,4,2,1,105,1900.0,1492.0,205.0
5081,Apartamento,Cidade Nova,4,0,0,110,1300.0,NaN,NaN
6524,Apartamento,Pechincha,4,1,2,178,1900.0,1100.0,270.0
6800,Casa,Riachuelo,4,0,1,100,1800.0,NaN,40.0
6811,Casa,Méier,4,1,1,125,1900.0,NaN,NaN
7624,Apartamento,Recreio dos Bandeirantes,4,2,3,280,1800.0,1400.0,580.0
7651,Apartamento,Recreio dos Bandeirantes,4,3,2,250,1500.0,1380.0,700.0
7867,Apartamento,Recreio dos Bandeirantes,4,2,1,160,1900.0,1093.0,183.0
10111,Apartamento,Recreio dos Bandeirantes,4,2,1,160,1900.0,1038.0,158.0
10929,Casa de Condomínio,Taquara,4,1,0,110,1750.0,550.0,993.0
11308,Casa,Santo Cristo,5,0,0,85,1200.0,NaN,NaN
11977,Apartamento,Leme,4,0,1,185,1800.0,2000.0,270.0
12525,Apartamento,Recreio dos Bandeirantes,4,2,1,160,1900.0,930.0,150.0
13307,Apartamento,Camorim,4,1,1,96,1350.0,747.0,NaN
13659,Apartamento,Barra da Tijuca,4,3,4,148,1600.0,1766.0,NaN
14034,Casa,Praça Seca,4,1,1,128,1600.0,NaN,228.0
14987,Casa de Condomínio,Freguesia (Jacarepaguá),4,2,1,120,1800.0,195.0,30.0
15010,Casa,Pedra de Guaratiba,4,1,0,100,1300.0,NaN,NaN
15912,Apartamento,Campo Grande,4,2,2,160,1900.0,880.0,NaN
16031,Apartamento,Recreio dos Bandeirantes,4,2,2,160,1900.0,912.0,160.0
16137,Apartamento,Rio Comprido,4,1,0,110,1650.0,500.0,NaN
16791,Casa,Campo Grande,4,3,0,120,1700.0,NaN,NaN
17764,Apartamento,Taquara,4,3,1,190,1200.0,NaN,NaN
17884,Casa,Campo Grande,4,0,1,366,1890.0,NaN,208.0
18140,Casa,Campo Grande,4,0,0,159,1800.0,NaN,NaN
18274,Casa,Braz de Pina,4,1,0,99,1800.0,NaN,NaN
18453,Casa,Campo Grande,4,1,3,100,1600.0,NaN,NaN
19403,Casa,Campo Grande,4,1,2,180,1850.0,300.0,NaN
20178,Apartamento,Campo Grande,4,1,1,80,1600.0,950.0,NaN
20974,Apartamento,Barra da Tijuca,4,3,4,148,1500.0,1600.0,196.0
21475,Apartamento,Vargem Grande,4,0,1,180,1900.0,NaN,176.0
21783,Apartamento,Recreio dos Bandeirantes,4,2,2,160,1900.0,1038.0,NaN
21938,Casa,Campo Grande,4,2,0,120,1600.0,NaN,NaN

In [23]:
print(f'Total de imóveis residenciais com pelo menos 4 quartos e aluguel abaixo de R$ 2.000: {selecao.shape[0]}')

Total de imóveis residenciais com pelo menos 4 quartos e aluguel abaixo de R$ 2.000: 41

# Eliminando dados nulos

### Valor do aluguel

In [24]:
residenciais.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22580 entries, 0 to 22579
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        22580 non-null  object
 1   Bairro      22580 non-null  object
 2   Quartos     22580 non-null  int64
 3   Vagas       22580 non-null  int64
 4   Suites      22580 non-null  int64
 5   Area        22580 non-null  int64
 6   Valor       22571 non-null  float64
 7   Condominio  20765 non-null  float64
 8   IPTU        15795 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.6+ MB

In [25]:
residenciais.isnull()

        Tipo  Bairro  Quartos  Vagas  Suites   Area  Valor  Condominio   IPTU
0      False   False    False  False   False  False  False       False  False
1      False   False    False  False   False  False  False        True   True
2      False   False    False  False   False  False  False       False  False
3      False   False    False  False   False  False  False       False   True
4      False   False    False  False   False  False  False        True   True
...      ...     ...      ...    ...     ...    ...    ...         ...    ...
22575  False   False    False  False   False  False  False       False  False
22576  False   False    False  False   False  False  False       False  False
22577  False   False    False  False   False  False  False       False  False
22578  False   False    False  False   False  False  False       False  False
22579  False   False    False  False   False  False  False       False   True

[22580 rows x 9 columns]

In [26]:
residenciais[residenciais['Valor'].isnull()]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
58,Apartamento,Barra da Tijuca,2,1,1,70,NaN,970.0,68.0
1492,Apartamento,Leme,2,0,0,75,NaN,878.0,NaN
1683,Casa,Campo Grande,3,4,3,363,NaN,NaN,NaN
2012,Apartamento,Botafogo,2,0,0,95,NaN,1010.0,170.0
2034,Apartamento,Copacabana,2,0,0,72,NaN,850.0,NaN
4941,Casa,Campo Grande,3,2,1,100,NaN,NaN,NaN
8568,Apartamento,Leme,2,0,1,75,NaN,878.0,NaN
8947,Apartamento,Glória,3,0,1,135,NaN,910.0,228.0
9149,Apartamento,Gávea,3,1,1,105,NaN,880.0,221.0

In [27]:
residenciais.dropna(subset=['Valor'], inplace=True)

In [28]:
print(f'Total: {residenciais.shape[0]}')

Total: 22571

### Valor do condomínio

In [29]:
residenciais[residenciais['Condominio'].isnull()].shape[0]

1813

In [30]:
excluir = (residenciais['Tipo'] == 'Apartamento') & (residenciais['Condominio'].isnull())

In [31]:
residenciais = residenciais[~excluir]

In [32]:
residenciais[residenciais['Condominio'].isnull()].shape[0]

1068

In [33]:
residenciais.fillna(0, inplace=True)
#residenciais = residenciais.fillna({'Condominio': 0, 'IPTU': 0})

/home/ana/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:5176: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [34]:
residenciais

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0

In [35]:
residenciais[residenciais['Condominio'].isnull()].shape[0]

0

In [36]:
residenciais[residenciais['IPTU'].isnull()].shape[0]

0

In [37]:
residenciais.info

<bound method DataFrame.info of               Tipo                Bairro  Quartos  Vagas  Suites  Area  \
0        Quitinete            Copacabana        1      0       0    40
1             Casa       Jardim Botânico        2      0       1   100
2      Apartamento                Centro        1      0       0    15
3      Apartamento          Higienópolis        1      0       0    48
5      Apartamento              Cachambi        2      0       0    50
...            ...                   ...      ...    ...     ...   ...
22575  Apartamento                 Méier        2      0       0    70
22576    Quitinete                Centro        0      0       0    27
22577  Apartamento           Jacarepaguá        3      1       2    78
22578  Apartamento  São Francisco Xavier        2      1       0    48
22579  Apartamento                Leblon        2      0       0    70

        Valor  Condominio  IPTU
0      1700.0       500.0  60.0
1      7000.0         0.0   0.0
2       800.0       390.0  20.0
3       800.0       230.0   0.0
5      1300.0       301.0  17.0
...       ...         ...   ...
22575   900.0       490.0  48.0
22576   800.0       350.0  25.0
22577  1800.0       800.0  40.0
22578  1400.0       509.0  37.0
22579  3000.0       760.0   0.0

[21826 rows x 9 columns]>

### Atualizar base de dados

In [38]:
residenciais.to_csv('aluguel/aluguel_residencial.csv', sep=';', index=False)

In [39]:
residenciais = pd.read_csv('aluguel/aluguel_residencial.csv', sep=';')

In [40]:
residenciais

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
...,...,...,...,...,...,...,...,...,...
21821,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
21822,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
21823,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
21824,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
21825,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0

### Acrescentando variáveis no dataframe

In [41]:
residenciais['Valor Bruto'] = residenciais['Valor'] + residenciais['Condominio'] + residenciais['IPTU']

In [42]:
residenciais

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0
...,...,...,...,...,...,...,...,...,...,...
21821,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,1438.0
21822,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,1175.0
21823,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,2640.0
21824,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,1946.0
21825,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,3760.0

In [43]:
residenciais['Valor m2'] = residenciais['Valor']/residenciais['Area']

In [44]:
residenciais

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.500000
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.000000
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.333333
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.666667
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.000000
...,...,...,...,...,...,...,...,...,...,...,...
21821,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,1438.0,12.857143
21822,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,1175.0,29.629630
21823,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,2640.0,23.076923
21824,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,1946.0,29.166667
21825,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,3760.0,42.857143

In [45]:
residenciais['Valor m2'] = residenciais['Valor m2'].round(2)

In [46]:
residenciais

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00
...,...,...,...,...,...,...,...,...,...,...,...
21821,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,1438.0,12.86
21822,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,1175.0,29.63
21823,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,2640.0,23.08
21824,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,1946.0,29.17
21825,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,3760.0,42.86

In [47]:
casa = ['Casa', 'Casa de Condomínio', 'Casa de Vila']

In [48]:
residenciais['Tipo Agregado'] = residenciais['Tipo'].apply(lambda x: 'Casa' if x in casa else 'Apartamento')

In [49]:
residenciais

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...,...
21821,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,1438.0,12.86,Apartamento
21822,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,1175.0,29.63,Apartamento
21823,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,2640.0,23.08,Apartamento
21824,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,1946.0,29.17,Apartamento
21825,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,3760.0,42.86,Apartamento

In [50]:
# del residenciais['Suites']

In [51]:
residenciais.pop('Valor Bruto')

0        2260.0
1        7000.0
2        1210.0
3        1030.0
4        1618.0
          ...
21821    1438.0
21822    1175.0
21823    2640.0
21824    1946.0
21825    3760.0
Name: Valor Bruto, Length: 21826, dtype: float64

In [52]:
#residenciais.drop(['Valor Bruto', 'Valor Bruto m2'], axis = 1, inplace = True)
#excluir mais de uma coluna por vez

In [53]:
residenciais.to_csv('aluguel/aluguel_residencial.csv', sep=';', index = False)

## Agrupamento de dados

In [54]:
print(f"Valor médio de imóvel residencial: {residenciais['Valor'].mean()}")

Valor médio de imóvel residencial: 5046.172821405663

In [55]:
residenciais['Bairro'].drop_duplicates()

0             Copacabana
1        Jardim Botânico
2                 Centro
3           Higienópolis
4               Cachambi
              ...
13855          Bancários
15277         Cavalcanti
15280       Rio da Prata
15412      Cidade Jardim
16428        Coelho Neto
Name: Bairro, Length: 152, dtype: object

In [56]:
grupo_bairro = residenciais.groupby('Bairro')

In [57]:
grupo_bairro

In [58]:
for bairro, dados in grupo_bairro:
    print(bairro)

Abolição
Alto da Boa Vista
Anchieta
Andaraí
Anil
Arpoador
Bancários
Bangu
Barra da Tijuca
Barra de Guaratiba
Benfica
Bento Ribeiro
Bonsucesso
Botafogo
Braz de Pina
Cachambi
Cachamorra
Cacuia
Caju
Camorim
Campinho
Campo Grande
Cascadura
Catete
Catumbi
Cavalcanti
Centro
Cidade Jardim
Cidade Nova
Cocotá
Coelho Neto
Colégio
Copacabana
Cordovil
Cosme Velho
Cosmos
Curicica
Del Castilho
Encantado
Engenho Novo
Engenho da Rainha
Engenho de Dentro
Estácio
Flamengo
Freguesia (Ilha do Governador)
Freguesia (Jacarepaguá)
Fátima
Gamboa
Gardênia Azul
Glória
Grajaú
Guadalupe
Guaratiba
Gávea
Higienópolis
Honório Gurgel
Humaitá
Icaraí
Ilha do Governador
Inhaúma
Inhoaíba
Ipanema
Irajá
Itanhangá
Jabour
Jacarepaguá
Jacaré
Jardim América
Jardim Botânico
Jardim Carioca
Jardim Guanabara
Jardim Oceânico
Jardim Sulacap
Joá
Lagoa
Lapa
Laranjeiras
Largo do Machado
Leblon
Leme
Lins de Vasconcelos
Madureira
Magalhães Bastos
Maracanã
Marechal Hermes
Maria da Graça
Moneró
Méier
Olaria
Oswaldo Cruz
Paciência
Padre Miguel
Paquetá
Parada de Lucas
Parque Anchieta
Pavuna
Pechincha
Pedra de Guaratiba
Penha
Penha Circular
Península
Piedade
Pilares
Pitangueiras
Portuguesa
Praia da Bandeira
Praça Seca
Praça da Bandeira
Quintino Bocaiúva
Ramos
Realengo
Recreio dos Bandeirantes
Riachuelo
Ribeira
Rio Comprido
Rio da Prata
Rocha
Rocha Miranda
Sampaio
Santa Cruz
Santa Teresa
Santo Cristo
Santíssimo
Saúde
Senador Camará
Senador Vasconcelos
São Conrado
São Cristóvão
São Francisco Xavier
Tanque
Taquara
Tauá
Tijuca
Todos os Santos
Tomás Coelho
Turiaçu
Urca
Usina
Vargem Grande
Vargem Pequena
Vaz Lobo
Vicente de Carvalho
Vidigal
Vigário Geral
Vila Isabel
Vila Kosmos
Vila Militar
Vila Valqueire
Vila da Penha
Vista Alegre
Zumbi
Água Santa

In [59]:
for bairro, dados in grupo_bairro: 
    print(f'{bairro} -> {residenciais.Valor.mean()}')

Abolição -> 5046.172821405663
Alto da Boa Vista -> 5046.172821405663
Anchieta -> 5046.172821405663
Andaraí -> 5046.172821405663
Anil -> 5046.172821405663
Arpoador -> 5046.172821405663
Bancários -> 5046.172821405663
Bangu -> 5046.172821405663
Barra da Tijuca -> 5046.172821405663
Barra de Guaratiba -> 5046.172821405663
Benfica -> 5046.172821405663
Bento Ribeiro -> 5046.172821405663
Bonsucesso -> 5046.172821405663
Botafogo -> 5046.172821405663
Braz de Pina -> 5046.172821405663
Cachambi -> 5046.172821405663
Cachamorra -> 5046.172821405663
Cacuia -> 5046.172821405663
Caju -> 5046.172821405663
Camorim -> 5046.172821405663
Campinho -> 5046.172821405663
Campo Grande -> 5046.172821405663
Cascadura -> 5046.172821405663
Catete -> 5046.172821405663
Catumbi -> 5046.172821405663
Cavalcanti -> 5046.172821405663
Centro -> 5046.172821405663
Cidade Jardim -> 5046.172821405663
Cidade Nova -> 5046.172821405663
Cocotá -> 5046.172821405663
Coelho Neto -> 5046.172821405663
Colégio -> 5046.172821405663
Copacabana -> 5046.172821405663
Cordovil -> 5046.172821405663
Cosme Velho -> 5046.172821405663
Cosmos -> 5046.172821405663
Curicica -> 5046.172821405663
Del Castilho -> 5046.172821405663
Encantado -> 5046.172821405663
Engenho Novo -> 5046.172821405663
Engenho da Rainha -> 5046.172821405663
Engenho de Dentro -> 5046.172821405663
Estácio -> 5046.172821405663
Flamengo -> 5046.172821405663
Freguesia (Ilha do Governador) -> 5046.172821405663
Freguesia (Jacarepaguá) -> 5046.172821405663
Fátima -> 5046.172821405663
Gamboa -> 5046.172821405663
Gardênia Azul -> 5046.172821405663
Glória -> 5046.172821405663
Grajaú -> 5046.172821405663
Guadalupe -> 5046.172821405663
Guaratiba -> 5046.172821405663
Gávea -> 5046.172821405663
Higienópolis -> 5046.172821405663
Honório Gurgel -> 5046.172821405663
Humaitá -> 5046.172821405663
Icaraí -> 5046.172821405663
Ilha do Governador -> 5046.172821405663
Inhaúma -> 5046.172821405663
Inhoaíba -> 5046.172821405663
Ipanema -> 5046.172821405663
Irajá -> 5046.172821405663
Itanhangá -> 5046.172821405663
Jabour -> 5046.172821405663
Jacarepaguá -> 5046.172821405663
Jacaré -> 5046.172821405663
Jardim América -> 5046.172821405663
Jardim Botânico -> 5046.172821405663
Jardim Carioca -> 5046.172821405663
Jardim Guanabara -> 5046.172821405663
Jardim Oceânico -> 5046.172821405663
Jardim Sulacap -> 5046.172821405663
Joá -> 5046.172821405663
Lagoa -> 5046.172821405663
Lapa -> 5046.172821405663
Laranjeiras -> 5046.172821405663
Largo do Machado -> 5046.172821405663
Leblon -> 5046.172821405663
Leme -> 5046.172821405663
Lins de Vasconcelos -> 5046.172821405663
Madureira -> 5046.172821405663
Magalhães Bastos -> 5046.172821405663
Maracanã -> 5046.172821405663
Marechal Hermes -> 5046.172821405663
Maria da Graça -> 5046.172821405663
Moneró -> 5046.172821405663
Méier -> 5046.172821405663
Olaria -> 5046.172821405663
Oswaldo Cruz -> 5046.172821405663
Paciência -> 5046.172821405663
Padre Miguel -> 5046.172821405663
Paquetá -> 5046.172821405663
Parada de Lucas -> 5046.172821405663
Parque Anchieta -> 5046.172821405663
Pavuna -> 5046.172821405663
Pechincha -> 5046.172821405663
Pedra de Guaratiba -> 5046.172821405663
Penha -> 5046.172821405663
Penha Circular -> 5046.172821405663
Península -> 5046.172821405663
Piedade -> 5046.172821405663
Pilares -> 5046.172821405663
Pitangueiras -> 5046.172821405663
Portuguesa -> 5046.172821405663
Praia da Bandeira -> 5046.172821405663
Praça Seca -> 5046.172821405663
Praça da Bandeira -> 5046.172821405663
Quintino Bocaiúva -> 5046.172821405663
Ramos -> 5046.172821405663
Realengo -> 5046.172821405663
Recreio dos Bandeirantes -> 5046.172821405663
Riachuelo -> 5046.172821405663
Ribeira -> 5046.172821405663
Rio Comprido -> 5046.172821405663
Rio da Prata -> 5046.172821405663
Rocha -> 5046.172821405663
Rocha Miranda -> 5046.172821405663
Sampaio -> 5046.172821405663
Santa Cruz -> 5046.172821405663
Santa Teresa -> 5046.172821405663
Santo Cristo -> 5046.172821405663
Santíssimo -> 5046.172821405663
Saúde -> 5046.172821405663
Senador Camará -> 5046.172821405663
Senador Vasconcelos -> 5046.172821405663
São Conrado -> 5046.172821405663
São Cristóvão -> 5046.172821405663
São Francisco Xavier -> 5046.172821405663
Tanque -> 5046.172821405663
Taquara -> 5046.172821405663
Tauá -> 5046.172821405663
Tijuca -> 5046.172821405663
Todos os Santos -> 5046.172821405663
Tomás Coelho -> 5046.172821405663
Turiaçu -> 5046.172821405663
Urca -> 5046.172821405663
Usina -> 5046.172821405663
Vargem Grande -> 5046.172821405663
Vargem Pequena -> 5046.172821405663
Vaz Lobo -> 5046.172821405663
Vicente de Carvalho -> 5046.172821405663
Vidigal -> 5046.172821405663
Vigário Geral -> 5046.172821405663
Vila Isabel -> 5046.172821405663
Vila Kosmos -> 5046.172821405663
Vila Militar -> 5046.172821405663
Vila Valqueire -> 5046.172821405663
Vila da Penha -> 5046.172821405663
Vista Alegre -> 5046.172821405663
Zumbi -> 5046.172821405663
Água Santa -> 5046.172821405663

In [60]:
grupo_bairro[['Valor', 'Condominio']].mean().round(2)

                     Valor  Condominio
Bairro
Abolição           1195.33      191.40
Alto da Boa Vista  3966.67      885.00
Anchieta            875.00       19.75
Andaraí            1464.71      497.71
Anil               2048.87      455.85
...                    ...         ...
Vila Valqueire     1769.58      276.88
Vila da Penha      1260.58      232.68
Vista Alegre       1114.38      210.06
Zumbi              2150.00     1050.00
Água Santa          861.11      269.44

[152 rows x 2 columns]