In [1]:
import pandas as pd

In [2]:
imoveis = pd.read_csv('aluguel/aluguel.csv', sep=';')

In [3]:
imoveis.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [4]:
print(f'A base de dados apresenta {imoveis.shape[0]} registros e {imoveis.shape[1]} colunas')

A base de dados apresenta 32960 registros e 9 colunas

In [5]:
print('Tipos de dados')
imoveis.dtypes

Tipos de dados

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

### Criando um dataframe

In [6]:
tipos_de_imoveis = imoveis['Tipo'].drop_duplicates()

In [7]:
tipos_de_imoveis = pd.DataFrame(tipos_de_imoveis)

In [12]:
tipos_de_imoveis.index = ["imov" + str(i) for i in range(tipos_de_imoveis.shape[0])]

In [13]:
tipos_de_imoveis.index.name = "Id"
tipos_de_imoveis

                               Tipo
Id
imov0                     Quitinete
imov1                          Casa
imov2       Conjunto Comercial/Sala
imov3                   Apartamento
imov4            Casa de Condomínio
imov5                Prédio Inteiro
imov6                          Flat
imov7                    Loja/Salão
imov8       Galpão/Depósito/Armazém
imov9                Casa Comercial
imov10                 Casa de Vila
imov11               Terreno Padrão
imov12                  Box/Garagem
imov13                         Loft
imov14  Loja Shopping/ Ct Comercial
imov15                      Chácara
imov16        Loteamento/Condomínio
imov17                        Sítio
imov18                Pousada/Chalé
imov19                       Studio
imov20                        Hotel
imov21                    Indústria

# Imóveis Residenciais

In [30]:
imoveis_residenciais = imoveis.query("Tipo == 'Quitinete' or Tipo == 'Casa' or Tipo == 'Apartamento' or Tipo == 'Casa de Vila' or Tipo == 'Casa de Condomínio'")

In [32]:
imoveis_residenciais.index = range(imoveis_residenciais.shape[0])

In [33]:
imoveis_residenciais.index.name = "Id"

In [34]:
imoveis_residenciais

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
Id,,,,,,,,,
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

### Exportando o resultado para arquivo csv

In [39]:
imoveis_residenciais.to_csv('aluguel/aluguel_residencial.csv', sep=';', index=False)

### Importando nova base de dados

In [40]:
residenciais = pd.read_csv('aluguel/aluguel_residencial.csv', sep=';')
residenciais

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN